@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-image: url('./images/background/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
  border-radius: 15px;
  color: white;
}

.card-body {
  height:inherit;
}

.ks-cboxtags {
  font-size: 20px;
  text-align: center;
  margin-right: 5%;
}

.vinListHeader {
  text-align: center;
  font-size: 35px;
}
